.story-profile-container {
  padding-top: 0 !important;
  min-height: 100vh !important;
  .banner,
  .header-sketch {
    height: calc(100vh + 157.5px);
  }
  .banner {
    width: 100vw;
    position: fixed;
    overflow-x: hidden;
    top: 0;
    left: 0;
    img, video {
      width: 100%;
      object-fit: cover;
      // object-position: top;
      position: absolute;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
    }
  }
  .profile-content {
    position: relative;
    top: 0;
    .header-sketch {
      width: 100vw;
      position: relative;
      overflow-x: hidden;
      top: 0;
      left: 0;
      img {
        width: 100%;
        object-fit: cover;
        // object-position: top;
        position: absolute;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
      }
    }
    .story-content {
      // letter-spacing: -0.05em;
      margin-top: -5px;
      color: #e7edf5;
      .profile-info {
        margin: 0 auto;
        width: 1000px;
        padding-top: 1em;
        .chapter-name,
        .story-serial {
          font-size: 12px;
          line-height: 14px;
          padding-bottom: 20px;
          span {
            font-weight: 800;
          }
        }
        .story-serial {
          padding-bottom: 20px;
        }
        .story-name {
          font-weight: 800;
          font-size: 36px;
          line-height: 43px;
          padding-bottom: 40px;
        }
        .sr-content {
          font-size: 14px;
          // line-height: 17px;
          p {
            margin-bottom: 0 !important;
          }
        }
        .side-story {
          padding-top: 40px;
          padding-bottom: 29.5px;
          .side-c {
            width: 304px;
            height: 64px;
            border: 1px solid #666666;
            border-radius: 16px;
            transition: all 0.3s;
            display: flex;
            align-items: center;
            .icon {
              width: 40px;
              height: 40px;
              position: relative;
              margin-left: 12px;
              margin-right: 12px;
              .story-icon {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: all 0.3s;
                &.hover {
                  opacity: 0;
                }
              }
            }
            .side-info {
              flex: 1;
              .title {
                color: #666666;
                font-size: 12px;
                font-weight: 700;
                transition: all 0.3s;
                span {
                  font-weight: 400;
                }
              }
              .nfts {
                display: flex;
                .character-icon {
                  margin-right: 4px;
                  width: 20px;
                  height: 20px;
                  position: relative;
                  .character {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    transition: all 0.3s;
                    &.hover {
                      opacity: 0;
                    }
                  }
                }
              }
            }
            .right-arrow {
              transition: all 0.3s;
              margin-right: 12px;
              width: 16px;
              height: 16px;
            }
            &:hover {
              border-color: #ffffff;
              .icon {
                .story-icon {
                  &.dishover {
                    opacity: 0;
                  }
                  &.hover {
                    opacity: 1;
                  }
                }
              }
              .side-info {
                .title {
                  color: #FFFFFF;
                }
                .nfts {
                  .character-icon {
                    .character {
                      &.dishover {
                        opacity: 0;
                      }
                      &.hover {
                        opacity: 1;
                      }
                    }
                  }
                }
              }
              .right-arrow {
                svg {
                  path {
                    stroke: #FFFFFF;
                  }
                }
              }
            }
          }
        }
      }
    }
    .footer-sketch {
      width: 100vw;
      // height: 200px;
      height: auto;
      overflow-x: hidden;
      position: relative;
      img {
        width: 100%;
        object-fit: cover;
        object-position: top;
        // position: absolute;
        display: block;
        left: 50%;
        // transform: translateX(-50%);
        height: 100%;
      }
      .sr-nav-footer {
        width: 1000px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 17px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        text-align: center;

        color: #ffffff;

        .sr-previous {
          float: left;
          left: 0px;
          margin: auto;

          cursor: pointer;
        }
        .sr-next {
          float: right;
          right: 0px;
          margin: auto;

          cursor: pointer;
        }
      }
    }
    .page-footer {
      bottom: 0;
      position: absolute;
      width: 100vw;
    }
  }
}

.side-story-detail {
  background-color: rgba(80, 96, 119, 0.95);
  z-index: 999;
  height: 120vh;
  .side-content {
    width: 720px;
    color: #FFFFFF;
    margin: 0 auto;
    max-height: 100vh;
    overflow-y: scroll;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 80px 0;
    .side-top {
      display: flex;
      align-items: center;
      padding-bottom: 16px;
      .side-l {
        flex: 1;
        font-weight: 700;
        .chapter-name {
          font-size: 16px;
        }
        .story-name {
          font-size: 32px;
        }
      }
      .close {
        width: 40px;
        height: 40px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .side-bottom {
      img {
        width: 100%;
      }
      .desc {
        padding-top: 16px;
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .story-profile-container {
    .profile-content {
      .story-content {
        .profile-info {
          width: 347px;
        }
      }
      .footer-sketch {
        height: 200px;
        img {
          object-fit: cover;
          object-position: top;
          position: absolute;
          display: block;
          left: 50%;
          transform: translateX(-50%);
          height: 100%;
        }
        .sr-nav-footer {
          width: 347px;
          top: 63px;
        }
      }
    }
  }
  .side-story-detail {
    .side-content {
      width: 347px;
      .side-top {
        padding-bottom: 8px;
        .side-l {
          .chapter-name {
            font-size: 12px;
          }
          .story-name {
            font-size: 20px;
          }
        }
        .close {
          width: 40px;
          height: 40px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .side-bottom {
        .desc {
          padding-top: 8px;
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .story-profile-container {
    .profile-content {
      .story-content {
        .profile-info {
          width: 600px;
        }
      }
      .footer-sketch {
        .sr-nav-footer {
          width: 600px;
        }
      }
    }
  }
  .side-story-detail {
    .side-content {
      width: 600px;
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .side-story-detail {
    .side-content {
      width: 600px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .side-story-detail {
    .side-content {
      width: 1000px;
    }
  }
}

@media screen and (max-width: 2560px) and (min-width: 1440px) {
  .story-profile-container {
    .banner,
    .header-sketch {
      height: calc(100vh + 180px);
    }
    .profile-content {
      .story-content {
      }
    }
  }
}
@media screen and (max-width: 3840px) and (min-width: 2560px) {
  .story-profile-container {
    .banner,
    .header-sketch {
      height: calc(100vh + 180px);
    }
    .profile-content {
      .story-content {
      }
      .footer-sketch {
        // height: 300px;
      }
    }
  }
}
