.wallet-nacp-edit-container {
  background: #17171e !important;

  .wallet-nacp-edit-content {
    width: 1320px;
    margin: 0 auto;
    padding-top: 64px;

    .edit-header {
      color: #ffffff;
      padding-bottom: 16px;
      border-bottom: 1px solid rgba(180, 188, 208, 0.5);

      .title {
        font-weight: 800;
        font-size: 32px;
        line-height: 38px;
        flex: 1;
      }

      .btn-groups {
        .btn {
          background: #f44d37;
          border-radius: 12px;
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;
          padding: 8px;
          margin-left: 8px;
        }
      }
    }
  }
}
