.wallet-tx-container {
  letter-spacing: -0.05em;

  .wallet-tx-header {
    background: #17171E;
    padding-bottom: 16px;

    .tx-title {
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      color: #FFFFFF;
    }
  }

  .wallet-tx-content {
    .tx-tabs,
    .tx-histories {
      background: #17171E;

      .tx-tab,
      .history-item {
        width: 20%;
      }
    }

    .tx-tabs.l1,
    .tx-histories.l1 {
      .tx-tab,
      .history-item {
        width: 25%;
      }
    }

    .tx-tabs {
      padding-bottom: 16px;
      border-bottom: 1px solid rgba(180, 188, 208, 0.5);

      .tx-tab {
        text-align: center;
        color: #B4BCD0;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
      }
    }

    .tx-histories {
      .history {
        margin-top: 16px;
        height: 44px;
        border-radius: 4px;

        &:hover {
          background: rgba(180, 188, 208, 0.1);

          .history-item {
            &.index,
            &.date,
            &.number {
              // font-weight: 500;
            }
          }
        }
        .history-item {
          text-align: center;

          &.index,
          &.date,
          &.number a {
            color: #FFFFFF;
            font-size: 12px;
            line-height: 14px;
            transition: all 0.3s;
            letter-spacing: -0.05em;
          }

          &.number a {
            text-decoration: underline;
          }

          &.type {
            .span {
              background: #e47a4c;
              border-radius: 4px;
              padding: 2px 10.5px;
              color: #ffd3c0;
              font-size: 12px;
              line-height: 14px;
              width: fit-content;
              margin: 0 auto;
            }
          }

          &.status {
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
              fill: #FFFFFF;
              transition: all 0.3s;
            }

            &.pending,
            &.progress {
              animation: spin 2s infinite;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .wallet-tx-container {
    .wallet-tx-header {
      padding-top: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid rgba(180, 188, 208, 0.5);
      top: var(--extra-padding);
    }

    .wallet-tx-content {
      padding-bottom: 68px;

      .tx-tabs {
        top: calc(var(--extra-padding) + 62px);
        padding-top: 16px;
      }

      .tx-tabs,
      .tx-histories {
        .tx-tab,
        .history-item {
          &.index,
          &.date {
            width: 30%;
          }
        }
      }

      .tx-tabs.l1,
      .tx-histories.l1 {
        .tx-tab,
        .history-item {
          width: 33.3%;
        }
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .wallet-tx-container {
    &.fold {
      .wallet-tx-header {
        top: calc(102px + var(--wallet-padding) + var(--extra-padding));
      }

      .wallet-tx-content {
        .tx-tabs {
          top: calc(147px + var(--wallet-padding) + var(--extra-padding));
        }
      }
    }
    .wallet-tx-header {
      position: sticky;
      top: calc(208px + var(--wallet-padding) + var(--extra-padding));
    }

    .wallet-tx-content {
      .tx-tabs {
        position: sticky;
        top: calc(253px + var(--wallet-padding) + var(--extra-padding));
      }
    }
  }
}
