.nacp-done-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    z-index: 1000;
    background: linear-gradient(180deg, #00C080 0%, #0F1416 13.54%);
    overflow-y: scroll;
    font-family: 'hoss-round' !important;

    .nacp-done-content {
        text-align: center;
        width: 600px;
        margin: 0 auto;

        .spooky-title {
            margin-top: 32px;

            img {
                width: 347px;
            }
        }

        .nacp-url {
            margin-top: 32px;

            img {
                border-radius: 16px;
                border: 1px solid rgba(180, 188, 208, 0.50);
                min-height: 347px;
                aspect-ratio: 1;
                max-height: 600px;
                height: calc(100vh - 32px - 29.5px - 32px - 20px - 171px - 35px);
            }
        }

        .nacp-id {
            color: #FFF;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .epoch {
            color: rgba(255, 255, 255, 0.50);
            font-size: 16px;
            padding-top: 8px;
            line-height: normal;
        }

        .desc {
            margin: 8px auto;
            width: 100%;
            color: #FFF;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: 0;
        }

        .link-url {
            margin: 0 auto;
            width: 347px;
            height: 31px;
            line-height: 31px;
            border-radius: 12px;
            background: rgba(180, 188, 208, 0.10);
            color: rgba(255, 255, 255, 0.50);
            font-size: 12px;
            font-weight: 500;
            padding: 0 10px;

            .text {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .copy {}
        }

        .download-btn,
        .create-btn,
        .claim-btn, 
        .skip-btn {
            width: fit-content;
            height: 30px;
            line-height: 30px;
            border-radius: 12px;
            background: #5700FF;
            padding: 0 10px;
            color: #FFFFFF;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0px;

            img {
                margin-right: 4px;
            }
        }

        .skip-btn {
            background: #AB98F4;
            margin: 20px auto 32px;
        }

        .btn-groups {
            width: 100%;
            margin: 0 auto;
            padding-top: 8px;

            .m-tip {
                color: rgba(255, 255, 255, 0.60);
                text-align: center;
                font-size: 12px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                padding-top: 16px;
                letter-spacing: 0px;
            }

            .download-btn {
                &:last-child {
                    margin-left: 8px;
                }
            }

            .create-btn {
                margin: 16px auto 0;
                background: #00C080;
            }
        }

        .left-info {
            align-self: flex-start;
            flex: 1;
        }

        .what-next {
            align-self: flex-start;
            flex: 1;

            .title {
                color: #FFF;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 16px;
                line-height: 18px;
            }

            .desc {
                width: 100%;
            }

            .claim-btn {
                background: #00C080;
                margin: 0 auto;
            }

            .share-btn {
                margin: 0 auto;
            }

            .skip-tip {
                padding-top: 16px;
                color: rgba(255, 255, 255, 0.50);
                font-size: 12px;
                font-weight: 500;
                line-height: normal;
            }
        }

    }

    &.show {
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (max-width: 750px) {
    .nacp-done-container {
        .nacp-done-content {
            width: 347px;

            .nacp-url {
                img {
                    width: 347px;
                    height: 347px;
                }
            }

            .btn-groups {
                width: 347px;

                .download-btn {
                    img {
                        display: none;
                    }
                }

                .download-btn,
                .create-btn {
                    padding: 0 8px;
                }

                .create-btn {
                    margin-top: 0;
                    margin-left: 8px;
                    padding: 0 8px;
                    flex: 1;
                    font-family: 'hoss-round';
                }
            }

            .what-next {
                padding-bottom: 128px;
                width: 100%;
            }
        }
    }
}
