.home-page {
    transition: all 0.3s;
    font-family: 'hoss-round' !important;
    .landing-page {
        .banner-section {
            width: 100vw;
            height: 100vh;
            position: relative;
            background: #D6D6D6;

            .banner {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .down-arrow {
                position: absolute;
                width: 32px;
                height: 32px;
                bottom: 48px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .composite-section {
            background: #FFE6F8;

            .nervape-composite {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 128px;
                padding-bottom: 48px;

                .composite {
                    .title {
                        font-weight: 900;
                        font-size: 48px;
                        line-height: 57px;
                        text-align: center;
                        color: #435365;
                    }
                }

                .bone-list {
                    margin-left: 80px;

                    .title {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: #435365;
                        letter-spacing: -0.05em;
                        padding: 2.5px 0 4px;
                    }

                    .address-input {
                        width: 400px;
                        height: 34px;
                        border: 1px solid #435365;
                        border-radius: 5px;
                        display: flex;

                        input {
                            flex: 1;
                            background: transparent;
                            border: unset;
                            padding: 0 10px;
                            height: 100%;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 14px;
                            letter-spacing: -0.05em;
                            color: rgba(67, 83, 101, 1);

                            &::placeholder {
                                color: rgba(67, 83, 101, 0.8);
                            }

                            &:focus {
                                outline: unset;
                            }
                        }

                        .check-btn {
                            border: none;
                            width: 63px;
                            height: 100%;
                            padding: 0;
                            background: #F44D37;
                            border-radius: 4px;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 14px;
                            color: #FFFFFF;
                            text-align: center;
                            letter-spacing: -0.05em;
                        }
                    }

                    .tip {
                        font-size: 12px;
                        line-height: 14px;
                        color: #435365;
                        padding-top: 16px;

                        a {
                            color: #435365;
                            font-weight: 600;
                            text-decoration: underline;
                        }
                    }
                }
            }

            .intro-items {
                display: flex;
                justify-content: center;
                padding-bottom: 128px;

                .intro-item {
                    width: 300px;
                    margin-right: 80px;

                    &:last-child {
                        margin-right: 0;
                    }

                    .intro-img {
                        width: 300px;
                        height: 300px;
                        background: #6D6D6D;
                    }

                    .intro-title {
                        padding-top: 12px;
                        padding-bottom: 11px;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 29px;
                        text-align: left;
                        color: #435365;
                    }

                    .intro-desc {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: #435365;
                    }
                }
            }
        }

        .qa-section {
            position: relative;
            background: #B9E0CA;

            .qa-content {
                width: 1000px;
                margin: 0 auto;

                .title {
                    font-weight: 800;
                    font-size: 48px;
                    line-height: 57px;
                    color: #435365;
                    padding: 128px 0 48px;
                    text-align: center;
                    margin-bottom: 0;
                }

                .questions {
                    padding-bottom: 128px;

                    .question {
                        position: relative;
                        border-radius: 40px;
                        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
                        padding: 32px 76px 32px 32px;
                        margin-bottom: 32px;

                        .hover-cover {
                            position: absolute;
                            background: rgba(255, 255, 255, 0.05);
                            transition: all 0.3s;
                            width: 100%;
                            height: 100%;
                            border-radius: 40px;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            opacity: 0;
                        }

                        .arrow {
                            transition: all 0.3s;
                            position: absolute;
                            width: 12px;
                            height: 12px;
                            top: 32px;
                            right: 32px;
                            z-index: 99;

                            img {
                                width: 100%;
                                height: 100%;
                                display: block;
                            }
                        }

                        .q,
                        .a {
                            position: relative;
                            transition: all 0.3s;
                            display: flex;
                            font-size: 20px;
                            line-height: 26px;
                            color: #eaeae8;

                            .q-l,
                            .a-l {
                                margin-right: 8px;
                            }
                        }
                    }

                    .question:hover {
                        .hover-cover {
                            opacity: 1;
                        }
                    }

                    .question.open {
                        .arrow {
                            transform: rotate(180deg);
                        }

                        .q {
                            padding-bottom: 16px;
                        }
                    }
                }
            }
        }
    }
}
