.wallet-event-container {
  letter-spacing: -0.05em;

  .wallet-event-header {
    padding-bottom: 16px;

    .event-title {
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      color: #ffffff;
    }
  }

  .wallet-event-content {
    .event-tabs,
    .event-histories {
      .event-tab,
      .event-item {
        font-size: 12px;
        line-height: 14px;

        &.title {
          width: 60%;
          text-align: left;
          padding-left: 8px;
        }

        &.timeframe,
        &.status {
          width: 20%;
          text-align: center;
        }
      }
    }

    .event-tabs {
      padding-bottom: 16px;
      border-bottom: 1px solid rgba(180, 188, 208, 0.5);

      .event-tab {
        color: #b4bcd0;
        font-weight: 700;
      }
    }

    .event-histories {
      .event-item-c {
        border-bottom: 1px dashed rgba(180, 188, 208, 0.25);
        padding: 8px 0;

        &:last-child {
          border: unset;
        }

        .event-item {
          color: #ffffff;
          padding: 8px 0;

          &:hover {
            background: rgba(180, 188, 208, 0.1);
            border-radius: 4px;
          }

          .status {
            .icon {
              width: 14px;
              height: 14px;
              display: block;

              &:first-child {
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .wallet-event-container {
    .wallet-event-header {
      position: sticky;
      background: #17171e;
      z-index: 1;
      padding-top: 16px;
      top: var(--extra-padding);
    }

    .wallet-event-content {
      .event-tabs {
        position: sticky;
        top: calc(var(--extra-padding) + 61px);
        background: #17171e;
        z-index: 1;
      }

      .event-tabs,
      .event-histories {
        .event-tab,
        .event-item {
          &.title {
            width: 50%;
          }

          &.timeframe {
            width: 35%;
          }

          &.status {
            width: 15%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .wallet-event-container {
    .wallet-event-content {
      .event-tabs,
      .event-histories {
        .event-tab,
        .event-item {
          &.title {
            width: 60%;
          }

          &.timeframe {
            width: 25%;
          }

          &.status {
            width: 15%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .wallet-event-container {
    &.fold {
      .wallet-event-header {
        top: calc(102px + var(--wallet-padding) + var(--extra-padding));
      }

      .wallet-event-content {
        .event-tabs {
          top: calc(147px + var(--wallet-padding) + var(--extra-padding));
        }
      }
    }
    .wallet-event-header {
      // position: sticky;
      background: #17171e;
      z-index: 1;
      top: calc(208px + var(--wallet-padding) + var(--extra-padding));
    }

    .wallet-event-content {
      .event-tabs {
        // position: sticky;
        z-index: 1;
        background: #17171e;
        top: calc(253px + var(--wallet-padding) + var(--extra-padding));
      }
    }
  }
}
