.halloween-info-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.85);
    overflow-y: scroll;
    display: flex;

    .halloween-info-content {
        position: relative;
        margin: 32px auto;

        img {
            display: block;
            user-select: none;
            -webkit-user-drag: none;
        }

        .close-btn {
            position: absolute;
            right: 12.5px;
            top: 12.5px;
        }

        .cover {
            width: 670px;
            height: 760px;
        }
    }

    &.show {
        visibility: visible;
        opacity: 1;
    }
}

@media screen and(max-width: 750px) {
    .halloween-info-container {
        .halloween-info-content {
            .cover {
                width: 347px;
                height: 575px;
            }
        }

        &.show {
            visibility: visible;
            opacity: 1;
        }
    }
}
