.app {
  padding: 0px 0px;
  margin: 0;
}

.flex-align {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-justify {
  display: flex;
  justify-content: center;
}

.transition {
  transition: all 0.3s;
}

.transition-1 {
  transition: all 0.1s;
}

.disable-use-select {
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none;
}

.button-hover-action-red {
  background: #F44D37;
  transition: all 0.3s;

  &:hover {
    background: #E45C4A !important;
  }
}

.popup-container {
  background: rgba(14, 17, 23, 0.95) !important;
}
