.about-container {
  padding-top: 0 !important;
  min-height: 100vh !important;
  .banner, .planet-large {
    width: 100vw;
    height: calc(100vh + 400px);
    position: fixed;
    overflow-x: hidden;
    top: 0;
    left: 0;
    img {
      width: 100%;
      object-fit: cover;
      object-position: top;
      position: absolute;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
    }
  }
  .light-c, .little-planet-c {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
  }
  .planet-large {
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
    .light-img {
      z-index: 9;
      position: absolute;
    }
    .dark-img {
      // position: relative;
    }
  }
  .banner.banner1 {
    position: absolute;
    transform: translateY(100vh);
  }
  .intro-section {
    width: 100%;
    overflow: hidden;
    background: #141d26;
    .intro-top {
      z-index: 0;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      .text, .intro-top-text {
        letter-spacing: 0;
        position: absolute;
        // top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 864px;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: #ffffff;
        z-index: 1;
      }
    }
    .intro-bottom {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100vh;
      .intro-content {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        letter-spacing: 0;
        font-size: 14px;
        line-height: 34px;
        text-align: center;
        color: #ffffff;
        z-index: 99;
        img {
          width: 40px;
          height: 40px;
          margin-top: 40px;
        }
      }
    }
  }
  .story-section {
    display: flex;
    position: relative;
    .storytelling-intro {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 80px;
      width: 500px;
      .title {
        font-weight: 800;
        font-size: 48px;
        line-height: 58px;
        color: #ffffff;
        padding-bottom: 12px;
      }
      .desc {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #e7edf5;
        padding-bottom: 24px;
        letter-spacing: 0;
      }
      .onging-saga {
        width: 158px;
        height: 29px;
        text-align: center;
        line-height: 29px;
        background: #f44d37;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        .a {
          font-weight: 800;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          color: #ffffff;
        }
        img {
          width: 10px;
          margin-left: 6px;
        }
      }
      .onging-saga:hover {
        background: #E45C4A;
      }
    }
    .story {
      flex: 1;
      img {
        width: 100%;
      }
    }
  }
  .customizable-section {
    background: #ffffff;
    position: relative;
    padding-bottom: 80px;
    .title {
      letter-spacing: 0;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      width: 680px;
      text-align: left;
      margin: 0 auto;
      padding: 180px 0;
      color: #f44d37;
    }
    .custom-cover {
      width: 1280px;
      height: 720px;
      margin: 0 auto;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .customizable-collection {
      width: 620px;
      height: 660px;
      background: #f44d37;
      position: absolute;
      bottom: 0;
      left: calc((100vw - 1280px) / 2 - 40px);
      .custom-content {
        width: 450px;
        margin-left: 40px;
        .title {
          font-weight: 800;
          font-size: 40px;
          line-height: 48px;
          color: #ffffff;
          padding-bottom: 12px;
          width: 100%;
          padding-top: 60px;
        }
        .desc {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #ffffff;
          padding-bottom: 24px;
          letter-spacing: 0;
        }
        .more-detail {
          width: 142px;
          height: 29px;
          text-align: center;
          line-height: 29px;
          background: #242e38;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s;
          .a {
            font-weight: 800;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #ffffff;
          }
          img {
            width: 10px;
            margin-left: 6px;
          }
        }
        .more-detail:hover {
          background: #2F3942;
        }
      }
    }
  }

  .humans-section {
    background: #242e38;
    position: relative;
    .humans-content {
      width: 950px;
      margin: 0 auto;
      .title {
        letter-spacing: 0;
        width: 767px;
        font-weight: 800;
        font-size: 36px;
        line-height: 43px;
        color: #ffffff;
        padding: 80px 0 8px 10px;
      }
      .desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        padding-bottom: 50px;
        padding-left: 10px;
      }
      .humans {
        width: 100%;
        padding-bottom: 240px;
        display: flex;
        flex-wrap: wrap;
        .human {
          width: 190px;
          position: relative;
          transition: all 0.3s;
          .avatar {
            position: relative;
            width: 170px;
            height: 170px;
            margin: 10px auto;
            img {
              display: block;
              width: 100%;
              height: 100%;
            }
          }
          .introduction {
            transition: all 0.3s;
            position: absolute;
            z-index: 0;
            opacity: 0;
            top: 0;
            left: 0;
            background: #f44d37;
            width: 100%;
            height: 190px;
            .intro-c {
              display: none;
              padding-top: 192px;
              width: 160px;
              margin: 0 auto;
              color: #ffffff;
              .c-top {
                display: flex;
                align-items: center;
                padding-bottom: 12px;
                border-bottom: 0.5px solid #ffffff;
                .c-left {
                  flex: 1;
                  .name {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    padding-bottom: 6px;
                  }
                  .job {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                  }
                }
                .c-right {
                  width: 28px;
                  height: 28px;
                  img {
                    width: 100%;
                    height: 100%;
                    display: block;
                  }
                }
              }
              .c-bottom {
                font-size: 12px;
                line-height: 14px;
                padding-top: 12px;
              }
            }
          }
        }
        .human.pc:hover, .human.mobile.open {
          .avatar {
            z-index: 2;
          }
          .introduction {
            opacity: 1;
            height: 350px;
            .intro-c {
              display: block;
            }
          }
        }
      }
    }
  }
  .qa-section {
    background: #141d26;
    .qa-content {
      width: 1000px;
      margin: 0 auto;
      .title {
        font-weight: 800;
        font-size: 36px;
        line-height: 43px;
        color: #ffffff;
        padding: 64px 0 40px;
        border-bottom: 1px solid #595d64;
      }
      .questions {
        padding-top: 40px;
        padding-bottom: 128px;
        .question {
          position: relative;
          border-radius: 40px;
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
          padding: 32px 76px 32px 32px;
          margin-bottom: 32px;
          .hover-cover {
            position: absolute;
            background: rgba(255, 255, 255, 0.05);
            transition: all 0.3s;
            width: 100%;
            height: 100%;
            border-radius: 40px;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
          }
          .arrow {
            transition: all 0.3s;
            position: absolute;
            width: 12px;
            height: 12px;
            top: 32px;
            right: 32px;
            z-index: 99;
            img {
              width: 100%;
              height: 100%;
              display: block;
            }
          }
          .q,
          .a {
            position: relative;
            transition: all 0.3s;
            display: flex;
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: -0.05em;
            color: #eaeae8;
            .q-l, .a-l {
              margin-right: 8px;
            }
          }
        }
        // .question::after {
        //   content: '';
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   border-radius: 40px;
        //   width: 100%;
        //   height: 100%;
        //   background: rgba(255, 255, 255, 0.05);
        //   transition: all 0.3s;
        //   opacity: 0;
        // }
        .question:hover {
          .hover-cover {
            opacity: 1;
          }
        }
        .question.open {
          .arrow {
            transform: rotate(180deg);
          }
          .q {
            padding-bottom: 16px;
          }
        }
      }
    }
  }
  .bottom-section {
    width: 100vw;
    height: 470px;
    overflow-x: hidden;
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
      object-position: top;
      display: block;
      height: 100%;
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .about-container {
    .customizable-section {
      padding-bottom: 237.5px;
      .custom-cover {
        width: 1000px;
        height: 562.5px;
      }
      .customizable-collection {
        left: calc((100vw - 1000px) / 2 - 60px);
      }
    }
  }
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .about-container {
    .story-section {
      .storytelling-intro {
        width: 590px;
        left: 50px;
      }
    }
    
    .customizable-section {
      padding-bottom: 565px;
      .title {
        width: 600px;
      }
      .custom-cover {
        width: 100%;
        height: 422px;
      }
      .customizable-collection {
        width: 670px;
        height: 587px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .humans-section {
      .humans-content {
        width: 600px;
        .title {
          width: 100%;
        }
        .humans {
          width: 570px;
          padding-bottom: 250px;
        }
      }
    }

    .qa-section {
      .qa-content {
        width: 600px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .about-container {
    .banner {
    }

    .intro-section {
      .intro-top {
        .intro-top-text {
          width: 347px;
          font-size: 24px;
          line-height: 29px;
        }
      }
      .intro-bottom {
        .intro-content {
          width: 275px;
          margin: 0 auto;
          padding: 0;
          font-size: 12px;
          .p {
            line-height: 17px;
            margin-bottom: 17px;
          }
          .p1 {
            line-height: 17px;
          }
        }
      }
    }

    .story-section {
      display: block;
      .storytelling-intro {
        width: 347px;
        left: 50%;
        transform: translate(-50%, -50%);
        .title {
          word-break: break-all;
          letter-spacing: 0;
        }
      }
    }
    
    .customizable-section {
      padding-bottom: 565px;
      .title {
        width: 347px;
        font-size: 24px;
      }
      .custom-cover {
        width: 100%;
        height: 672.35px;
      }
      .customizable-collection {
        width: 100%;
        height: 669px;
        left: 0;
        .custom-content {
          width: 347px;
          margin: 0 auto;
          .title {
            font-size: 32px;
          }
        }
      }
    }

    .humans-section {
      .humans-content {
        width: 347px;
        .title {
          width: 100%;
          font-size: 24px;
          line-height: 29px;
        }
        .humans {
          width: 350px;
          padding-bottom: 250px;
          .human {
            width: 170px;
            margin-bottom: 20px;
            .avatar {
              width: 150px;
              height: 150px;
            }
            .introduction {
              height: 170px;
              .intro-c {
                width: 150px;
              }
            }
          }
        }
      }
    }

    .qa-section {
      .qa-content {
        width: 347px;
        .title {
          font-size: 24px;
          line-height: 29px;
        }
      }
    }
  }
}
