* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;

  text-decoration: none;
}

@import url(https://use.typekit.net/mel2nya.css);

@import "./assets/font//ethnocentric_book_macroman/stylesheet.css";
