* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-size: 14px;

  text-decoration: none;
}
::-webkit-scrollbar {
  width: 0;
}
@import url(https://use.typekit.net/vwe0cmw.css);

body,
html {
  font-family: 'input-sans' !important;
}

.cursor {
  cursor: pointer;
}

.hidden {
  display: none;
}

.mask-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(232, 232, 232, 0.5);
  z-index: 99;
}
// @import "./assets/font//ethnocentric_book_macroman/stylesheet.css";
