.header-container {
  position: fixed;
  top: 0;
  opacity: 1;
  transition: all 0.3s;
  z-index: 999;
  width: 100%;
  height: 64px;

  .header {
    max-width: 1840px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    width: 100%;
    height: 64px;

    .logo {
      width: 107px;
      height: 100%;
      cursor: pointer;
    }

    .hamburger {
      display: none;
    }

    .btn-group {
      right: 0px;
      height: 100%;
      margin-bottom: unset;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      align-self: flex-end;

      .nav-area {
        position: relative;
        margin-right: 8px;
        height: 32px;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        display: flex;
        align-items: center;
        transition: all 0.3s;

        .select-line {
          position: absolute;
          display: none;
          bottom: 0px;
          height: 4px;
          width: 100%;
          background: #86c0f7;
        }

        .gallery-item {
          .header-open {
            width: 6px;
            height: 6px;
            margin-left: 4px;
            transition: all 0.3s;
            transform: rotate(90deg);

            &.open {
              transform: rotate(0);
            }
          }
        }

        .title-text {
          padding: 0 12px;
          font-weight: 500;
          font-size: 12px;
          line-height: 21px;
          color: #ffffff;
        }

        .icon-image {
          width: 20px;
          height: 20px;
        }
      }

      .nav-area.logo {
        width: auto;

        .nacp-logo {
          padding: 5px 8px;

          .icon-image {
            width: 58.52px;
            height: 22px;
          }
        }
      }

      .nav-area.wallet-login {
        background: unset;

        &:hover {
          background: unset;
        }
      }

      .nav-area:hover {
        background: rgba(136, 136, 136, 0.2);
      }

      .nav-area.active {
        background: #f44d37;
      }

      .nav-area.icon {
        padding: 6px;
        margin-right: 8px;
      }

      .icon-nav-c {
        display: inline-flex;
      }

      .nav-area-active {
        .title-text {
          color: #ffffff;
          font-weight: bold;
        }

        .select-line {
          display: block;
        }
      }

      // .nav-area:hover {
      //   .select-line {
      //     display: block;
      //   }
      // }
    }
  }
}

.header-container.hide {
  top: -64px;
  opacity: 0;
}

.gallery-items {
  .ant-dropdown-menu {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 10px;
    margin-top: 8px;

    .ant-dropdown-menu-item {
      font-weight: 500;
      font-size: 12px;
      padding: 9px 16px;
      line-height: 14px;
      letter-spacing: -0.05em;
      text-align: left;
      color: #FFFFFF;
      margin-bottom: 10px;
      transition: all 0.3s;

      &.ant-dropdown-menu-item-active {
        background-color: unset;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        background: rgba(136, 136, 136, 0.2);
        border-radius: 6px;
      }

      .ant-menu {
        background: unset;
        color: #FFFFFF;
        font-size: 12px;
        border-right: none;

        .ant-menu-submenu {

          &.ant-menu-submenu-active,
          &.ant-menu-submenu-selected {
            color: #FFFFFF;
            background-color: unset;
          }

          .ant-menu-submenu-title {
            height: unset;
            line-height: 14px;
            margin: 0;
            padding: 0;
            box-shadow: unset;
            background-color: unset !important;

            &:hover {
              color: #FFFFFF;
            }

            .header-open {
              width: 6px;
              height: 6px;
              margin-left: 4px;
              transition: all 0.3s;
              transform: rotate(0);

              &.open {
                transform: rotate(-90deg);
              }
            }
          }
        }
      }
    }
  }
}

.tooltip {
  width: 150px;
  border-radius: 8px;
  max-width: unset;

  &.gallery-tooltip {
    .ant-tooltip-content {
      .ant-tooltip-inner {
        text-align: center;
        padding: 16px;
        line-height: 14px;
      }
    }
  }

  // &.ant-tooltip-placement-right {
  //   padding-left: 0 !important;
  // }

  .ant-tooltip-content {
    font-size: 12px;
    font-weight: 500;

    .ant-tooltip-inner {
      text-align: center;
      border-radius: 8px !important;

      p {
        margin-bottom: 0;
      }
    }
  }
}

.ant-menu-submenu-popup {
  .ant-menu {
    margin-left: 30px;
    margin-top: -19px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 10px;

    .ant-menu-item {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: -0.05em;
      color: #FFFFFF;
      text-align: left;
      padding: 9px 16px;
      height: unset;
      margin-bottom: 10px;
      margin-top: 0;
      transition: all 0.3s;
      box-shadow: unset;

      &:last-child {
        margin-bottom: 0;
      }

      &.ant-menu-item-active,
      &.ant-menu-item-selected {
        color: #FFFFFF;
        background-color: unset;
      }

      &:hover {
        background: rgba(136, 136, 136, 0.2);
        border-radius: 6px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header-container {
    .header {
      padding: 0px 40px;

      .logo {
        width: 80.4px;
      }

      .hamburger-c {
        width: 40px;
        height: 40px;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;

        .hamburger {
          display: block;
          width: 20px;
          height: 20px;
        }
      }

      .header-menu {
        width: 100vw;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        background: rgba(27, 33, 47, 0.95);
      }

      .btn-group {
        position: absolute;
        padding-top: 64px;
        top: 0;
        width: 100%;
        padding: 64px 40px 128px;
        flex-direction: column;
        align-items: flex-start;
        height: auto;

        .nav-area {
          height: 40px;
          text-align: center;
          justify-content: flex-start;
          margin-top: 0;
          margin-bottom: 32px;
          margin-right: 0;
          width: 100%;
          background: unset;

          .title-text {
            font-size: 16px;
            padding: 0 16px;
          }

          .select-line {
            position: absolute;
            margin-top: 8px;
            margin-bottom: 8px;
            height: 21px;
            width: 4px;
          }
        }

        .nav-area.wallet-login {
          margin-top: 32px;
          height: auto;
          margin-bottom: 0;
          padding-bottom: 16px;
          border-radius: 0;
          border-bottom: 1px solid #595D64;

          .wallect-connect-modal {
            width: 100%;

            .m-connect-group {
              height: 40px;
              line-height: 40px;
              display: flex;

              .login-image {
                background: none;
                border: none;
                color: #F44D37;
                font-size: 16px;
                font-weight: 700;
                padding: 0 16px;
              }
            }
          }
        }

        .nav-area.active {
          background: unset;
          border-radius: 6px;
        }

        .nav-area.action {
          height: 40px;
          padding: 0;
          margin-right: 0;
          margin-bottom: 24px;
        }

        .nav-area.logo {
          margin-top: 16px;
          width: 100%;

          .nacp-logo {
            padding: 4px 16px;

            .icon-image {
              width: 72px;
              height: 32px;
            }
          }
        }

        .icon-nav-c {
          display: flex;
          height: 40px;
          padding-left: 16px;

          .nav-area.icon {
            margin-right: 24px;
          }

          .nav-area.icon {
            padding: 0;
            margin-bottom: 16px;
          }

          .icon-image {
            width: 40px;
            height: 40px;
          }
        }

        .nav-area:hover {
          background: unset;
        }
      }

      .active-group {
        display: none;
      }
    }

    .header.disable {
      position: fixed;

      // background: rgba(27, 33, 47, 0.95);
      .header-menu {
        height: 100vh;
        overflow: scroll;
      }

      .hamburger-c {
        background: rgba(136, 136, 136, 0.2);
      }
    }
  }
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .header-container {
    .header {
      padding: 0px 40px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .header-container {
    .header {
      .header-menu {
        .btn-group {
          .mobile-menu-items {
            background: unset;
            border: unset;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: -0.05em;

            .ant-menu-item,
            .ant-menu-submenu {
              margin: 0 0 32px 0;
              padding-bottom: 0;
              background: unset !important;
              
              &.ant-menu-item-selected {
                color: #FFFFFF;
              }

              &::after {
                border-right: none;
              }
              // &.ant-menu-submenu-open {
              //   margin-bottom: 0;
              // }

              &.ant-menu-submenu-active {
                color: #FFFFFF;
              }

              .ant-menu-submenu-title {
                display: inline-block;
                margin: 0;
                background-color: unset !important;
                box-shadow: unset;
                color: #FFFFFF;

                &:hover {
                  color: #FFFFFF;
                }

                .header-open {
                  width: 6px;
                  height: 6px;
                  margin-left: 8px;
                  transition: all 0.3s;
                  transform: rotate(90deg);

                  &.open {
                    transform: rotate(0);
                  }
                }
              }

              .ant-menu {
                background: unset;
                color: rgba(255, 255, 255, 0.5);

                .ant-menu-item {
                  color: rgba(255, 255, 255, 0.5);
                  margin-bottom: 4px;
                  background: unset;
                  box-shadow: none;

                  &:last-child {
                    margin-bottom: 0;
                  }

                  &::after {
                    border-right: none;
                  }
                }

                .ant-menu-submenu {
                  margin-bottom: 4px;

                  &.ant-menu-submenu-open {
                    .ant-menu-submenu-title {
                      color: #FFFFFF;
                    }
                  }

                  .ant-menu-submenu-title {
                    color: rgba(255, 255, 255, 0.5);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1840px) {
  .header-container {
    .header {
      padding: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .header-container {
    .header {
      padding: 0 14px;
    }

    .header-menu {
      .btn-group {
        padding: 64px 14px 128px;
      }
    }
  }
}
