.claim-operate-container {
    position: fixed;
    width: 347px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px 16px 0px 0px;
    border: 1px solid rgba(136, 136, 136, 0.10);
    background: rgba(29, 48, 47, 0.75);
    backdrop-filter: blur(2px);
    z-index: 999;
    padding: 16px;
    color: #FFFFFF;

    .confirm-content {
        text-align: center;
        letter-spacing: 0;

        .left-point {
            margin-right: 20px;
            flex: 1;
            
            .selected-block {
                font-size: 12px;
                font-weight: 700;
                line-height: normal;
            }

            .value {
                font-size: 20px;
                line-height: normal;
            }
        }

        .btn-groups {
            display: flex;
            justify-content: center;

            .btn {
                width: fit-content;
                height: 30px;
                line-height: 30px;
                border-radius: 12px;
                padding: 0 10px;
                color: #ffffff;
                font-size: 12px;
                font-weight: 700;
                cursor: pointer;
            }

            .cancel {
                background: #AB98F4;
                margin-right: 8px;
            }

            .confirm {
                background: #00C080;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .claim-operate-container {
        .confirm-content {
        }
    }
}
