.epoch-header-container {
    position: fixed;
    width: 600px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0px 0px 16px 16px;
    background: rgba(29, 48, 47, 0.75);
    backdrop-filter: blur(2px);
    color: #FFFFFF;
    z-index: 999;

    .epoch-logo {
        height: 40px;
        justify-content: center;
        align-items: center;
        position: relative;
        border-bottom: 2px solid rgba(136, 136, 136, 0.10);

        .logo {
            display: block;
        }

        .info-icon {
            position: absolute;
            right: 16px;
            width: 24px;
            height: 24px;
            border-radius: 8px;
            background: rgba(180, 188, 208, 0.10);

            img {
                
            }
        }
    }

    .ckb-epoch {
        padding: 12px 16px;

        .item {
            flex: 1;
            text-align: center;
            line-height: normal;
    
            .title {
                font-size: 12px;
                font-weight: 600;
                margin-bottom: 4px;
            }
    
            .value {
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}

@media screen and(max-width: 750px) {
    .epoch-header-container {
        width: 347px;

        .item {}
    }
}
